<h1>Add a New List</h1>
<%= simple_form_for(@list) do |f| %>
  <%= f.input :name %>
  <div class="d-flex gap-2">
  <%= f.submit "Add list", class: "btn btn-primary" %>
  <%= link_to "Cancel", lists_path, class: "btn btn-danger" %>
  </div>
  <% end %>
